<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.username">USERNAME</property>
        <property name="hibernate.connection.password">PASSWORD</property>
        <property name="hibernate.connection.url">URL</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
  		<property name="hibernate.show_sql">true</property>
  		<property name="hibernate.enable_lazy_load_no_trans">true</property>
  		<property name="hbm2ddl.auto">update</property>
  		<mapping class="com.project.model.SystemUser"/>
  		<mapping class="com.project.model.Subject"/>
  		<mapping class="com.project.model.Class"/>
  		<mapping class="com.project.model.Teacher"/>
  		<mapping class="com.project.model.Student"/>
    </session-factory>
</hibernate-configuration>
